<div [ngClass]="{'theme-light': !themeService.isDarkMode(), 'theme-dark': themeService.isDarkMode()}"
     style="max-height: 100vh;">

  <div class="w-100 main-body">

    <div class="toggle-contacts-button">
      <div class="contacts-btn-wrapper">
        <div class="contact-btn" [ngClass]="showContacts ? 'active' : ''" (click)="toggleContacts()">
          <i class="material-icons">wechat</i>
        </div>
        <div class="contacts-section" [ngClass]="showContacts ? 'active' : ''">
          <!-- WhatsApp Direct Chat -->
          <div class="contact whatsapp">
            <a href="https://wa.me/<YOUR_PHONE_NUMBER>" target="_blank">
              <img src="https://img.icons8.com/color/48/whatsapp--v1.png" alt="WhatsApp Chat" loading="lazy" width="48"
                   height="48">
            </a>
          </div>

          <!-- Tawk.to Chat -->
          <div class="contact tawk">
            <a href="https://tawk.to/chat/6404d90d4247f20fefe41dac/1gqpevnk4" target="_blank">
              <img
                src="https://img.icons8.com/external-flaticons-flat-flat-icons/64/external-live-chat-e-commerce-flaticons-flat-flat-icons.png"
                alt="Tawk.to Chat" loading="lazy" width="48" height="48">
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="ui-settings">
      <div class="ui-btn-wrapper">
        <div class="ui-btn" [ngClass]="isUiSettings ? 'active' : ''" (click)="openUiSettings()">
          <i class="material-icons">settings</i>
        </div>
        <div class="ui-settings-body" [ngClass]="isUiSettings ? 'active' : ''">
          <div class="theme-wrapper">
            <div class="theme-label">Theme Settings</div>
            <div class="theme-options">
              <ul class="theme-shade">
                <li (click)="changeColorShading('blue')">
                  <div class="color-btn blue"></div>
                  <div class="color-name">Blue</div>
                </li>
                <li (click)="changeColorShading('green')">
                  <div class="color-btn green"></div>
                  <div class="color-name">Green</div>
                </li>
                <li (click)="changeColorShading('orange')">
                  <div class="color-btn orange"></div>
                  <div class="color-name">Orange</div>
                </li>
                <li (click)="changeColorShading('red')">
                  <div class="color-btn red"></div>
                  <div class="color-name">Red</div>
                </li>
                <li (click)="changeColorShading('purple')">
                  <div class="color-btn purple"></div>
                  <div class="color-name">Purple</div>
                </li>
                <li (click)="changeColorShading('mixed')">
                  <div class="color-btn mixed"></div>
                  <div class="color-name">Mixed</div>
                </li>
              </ul>

              <button class="theme-btn" (click)="toggleTheme()" title="Theme">
                <img ngSrc="./assets/imgs/shared/moon.svg" alt="dark" height="24" width="24">
                <img
                  [src]="themeService.isDarkMode()?'./assets/imgs/shared/toggle-off.svg':'./assets/imgs/shared/toggle-on.svg'"
                  alt="theme" height="40" width="40">
                <img ngSrc="./assets/imgs/shared/sun.svg" alt="light" height="24" width="24">
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="translate">
      <div class="lang-btn-wrapper">
        <div class="lang-btn" [ngClass]="isTranslator ? 'active' : ''" (click)="clickTranslate()">
          <i class="material-icons">translate</i>
        </div>
        <div id="google_translate_element" [ngClass]="isTranslator ? 'active' : ''"></div>
      </div>
    </div>

    <router-outlet></router-outlet>
  </div>

</div>
